{% comment %}
  Renders facets (filtering and sorting)

  Accepts:
  - results: {Object} Collection or Search object
  - enable_filtering: {Boolean} Show filtering when true
  - enable_sorting: {Boolean} Show sorting when true
  - filter_type: {String} Type of filter
  - paginate: {Object}

  Usage:
  {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, filter_type: 'vertical', paginate: paginate %}
{% endcomment %}

{{ 'component-show-more.css' | asset_url | stylesheet_tag }}
{{ 'component-swatch-input.css' | asset_url | stylesheet_tag }}
{{ 'component-swatch.css' | asset_url | stylesheet_tag }}

<div class="facets-container">
  <!-- Filters -->
  <div class="facets__filters">
    <form id="FacetFiltersForm" class="facets__form-horizontal">
      {% if results.filters.size > 0 %}
        <div class="facets__filter-group">
          <h2 class="facets__label">Filters</h2>
          <ul class="facets__list list-unstyled">
            {%- for filter in results.filters -%}
              <details class="facets__details">
                <summary class="facets__summary">
                  <span>{{ filter.label | escape }}</span>
                  <span class="svg-wrapper">
                    {{ 'icon-expand.svg' | inline_asset_content }}
                  </span>
                </summary>
                <ul class="facets__dropdown-list">
                  {%- for value in filter.values -%}
                    <li class="facets__item">
                      <label>
                        <input 
                          type="checkbox" 
                          name="{{ filter.param_name }}" 
                          value="{{ value.value }}" 
                          {% if value.active %} checked {% endif %}>
                        {{ value.label | escape }} ({{ value.count }})
                      </label>
                    </li>
                  {%- endfor -%}
                </ul>
              </details>
            {%- endfor -%}
          </ul>
        </div>
      {% endif %}
    </form>
  </div>

  <!-- Sortering -->
  <div class="facets__sorting">
    <form id="FacetSortForm" class="facets__form-horizontal">
      <h2 class="facets__label">Sorteren op</h2>
      <details class="facets__details">
        <summary class="facets__summary">
          <span>Sorteer</span>
          <span class="svg-wrapper">
            {{ 'icon-expand.svg' | inline_asset_content }}
          </span>
        </summary>
        <ul class="facets__dropdown-list">
          {% for option in results.sort_options %}
            <li class="facets__item">
              <label>
                <input 
                  type="radio" 
                  name="sort_by" 
                  value="{{ option.value }}" 
                  {% if option.value == results.sort_by %} checked {% endif %}>
                {{ option.name }}
              </label>
            </li>
          {% endfor %}
        </ul>
      </details>
    </form>
  </div>
</div>
