{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.
  - picker_type: {String} type of picker to display

  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block,
    picker_type: picker_type
  %}
{% endcomment %}
{%- liquid
  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for value in option.values -%}
  {%- liquid
    assign matching_variant = product.variants | where: 'option1', value | first
    assign image_url = null

    # Controleer of er een afbeelding is gekoppeld aan de variant
    if matching_variant and matching_variant.featured_image
      assign image_url = matching_variant.featured_image | image_url: width: 100
    endif

    # Bepaal of de optie disabled moet zijn
    assign option_disabled = true
    if matching_variant and matching_variant.available
      assign option_disabled = false
    endif
  -%}

  {%- capture input_id -%}
    {{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}
  {%- endcapture -%}

  {%- capture input_name -%}
    {{ option.name }}-{{ option.position }}
  {%- endcapture -%}

  {%- capture input_dataset -%}
    data-product-url="{{ matching_variant | default: '' | product_url }}"
    data-option-value="{{ value }}"
  {%- endcapture -%}

  {%- capture label_unavailable -%}
    <span class="visually-hidden label-unavailable">
      {{- 'products.product.variant_sold_out_or_unavailable' | t -}}
    </span>
  {%- endcapture -%}

  <input
    type="radio"
    id="{{ input_id }}"
    name="{{ input_name | escape }}"
    value="{{ value | escape }}"
    form="{{ product_form_id }}"
    {% if product.selected_or_first_available_variant.option1 == value %}
      checked
    {% endif %}
    {% if option_disabled %}
      disabled
    {% endif %}
    {{ input_dataset }}
  >
  <label for="{{ input_id }}">
    {%- if image_url -%}
      <img src="{{ image_url }}" alt="{{ value | escape }}" class="variant-image image-class" />
    {%- else -%}
      <span class="variant-text text-class">{{ value }}</span>
    {%- endif %}
    {{ label_unavailable }}
  </label>
{%- endfor -%}




