{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - limit: {Number} (optional) When passed, limits the number of media items to render

  Usage:
  {% render 'product-media-gallery' %}
{% endcomment %}

{% assign sorted_media = product.media | sort: 'id' %}
{% assign reversed_media = sorted_media | reverse %}

<media-gallery
  id="MediaGallery-{{ section.id }}"
  role="region"
  aria-label="{{ 'products.product.media.gallery_viewer' | t }}"
  class="product__media-gallery"
>
  <!-- Featured Image -->
  {% assign featured_media = product.selected_or_first_available_variant.featured_media %}
  {% if featured_media != null %}
    <div 
      class="product__media-item featured-media col-12" 
      data-variant-color="{% if featured_media.alt contains 'color|' %}{{ featured_media.alt | split: '|' | last }}{% else %}all{% endif %}"
    >
      <img
        id="featured-image"
        src="{{ featured_media.preview_image.src | image_url: '1024x1024' }}" 
        alt="{{ featured_media.alt }}"
        class="featured-media__image"
      />
    </div>
  {% endif %}

  <!-- Thumbnails -->
  <div class="row media-thumbnails grid grid--gap">
    {% for variant in product.variants %}
        {% assign thumbnail_image = variant.featured_media.preview_image %}
        <div 
          class="product__media-item media-thumbnail col-3" 
          data-variant-color="{% if variant.featured_media.alt contains 'color|' %}{{ variant.featured_media.alt | split: '|' | last }}{% else %}all{% endif %}"
          data-media-id="{{ variant.featured_media.id }}"
        >
          <img
            src="{{ thumbnail_image.src | image_url: '416x416' }}" 
            alt="{{ variant.featured_media.alt }}"
            class="media-thumbnail__image"
            onclick="updateFeaturedImage('{{ thumbnail_image.src | image_url: '1024x1024' }}', '{{ variant.featured_media.alt }}')"
          />
        </div>
    {% endfor %}
  </div>
</media-gallery>

<script>
  // Functie om de afbeelding bij te werken
  function updateFeaturedImage(imageUrl, imageAlt) {
    document.getElementById("featured-image").src = imageUrl;
    document.getElementById("featured-image").alt = imageAlt;
  }
</script>







