{{ 'featured-product-custom.css' | asset_url | stylesheet_tag }}

<section class="featured-product-custom col-12 section-padding">
  <ul class="featured-product-list">
    <li class="text-container-product">
      <div class="featured-product-text">
        <h2 class="featured-product__title">{{ section.settings.title }}</h2>
        <p class="featured-product__description">{{ section.settings.description }}</p>
        {% if section.settings.button_text != blank %}
          <a href="{{ section.settings.button_link }}" class="button-featured-product-custom">{{ section.settings.button_text }}</a>
        {% endif %}
      </div>
    </li>
    <li class="text-center image-container">
      <img src="{{ section.settings.featured_image | img_url: 'master' }}" 
           alt="{{ section.settings.featured_image_alt }}" 
           class="img-fluid featured-product__image">
    </li>
  </ul>
</section>

{% schema %}
{
  "name": "Featured Product Custom",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured Product"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Add a description of your featured product here."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Learn More"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "default": "/"
    },
    {
      "type": "image_picker",
      "id": "featured_image",
      "label": "Featured Image"
    },
    {
      "type": "text",
      "id": "featured_image_alt",
      "label": "Featured Image Alt Text",
      "default": "Featured Product Image"
    }
  ],
 "presets": [
    {
      "name": "Custom Featured Product"
    }
  ]
}
{% endschema %}