{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

<footer class="footer row color-black gradient section-{{ section.id }}-padding container-desktop">
  <!-- Newsletter Section -->
  {%- if section.settings.newsletter_enable -%}
    <div class="footer-block--newsletter col-xs-12 col-md-7 col-lg-7">
      <div class="footer-block__newsletter">
        {%- if section.settings.newsletter_heading != blank -%}
          <h2 class="footer-block__heading">{{ section.settings.newsletter_heading }}</h2>
        {%- endif -%}
        {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="newsletter-form__field">
            <input
              type="email"
              name="contact[email]"
              class="newsletter-form__field-input"
              placeholder="{{ 'newsletter.label' | t }}"
              required
            >
              <button type="submit" class="newsletter-form__button">
                <span class="button-text">Abonneer</span> 
              </button>
          </div>
        {%- endform -%}
      </div>
    </div>
  {%- endif -%}

  <!-- Content Section -->
<div class="footer__content-top col-xs-12 col-md-5 col-lg-5">
  <!-- Column 1 -->
  <div class="footer__column col-xs-12 col-md-6 col-lg-6">
    {%- for block in section.blocks -%}
      {%- if block.type == 'link_list' and forloop.first -%}
        <div class="footer-block footer-block--menu">
          {%- if block.settings.heading != blank -%}
            <h2 class="footer-block__heading">{{ block.settings.heading }}</h2>
          {%- else -%}
            <h2 class="footer-block__heading">{{ linklists[section.settings.menu_1].title }}</h2>
          {%- endif -%}
          <ul class="footer__menu">
            {%- for link in linklists[section.settings.menu_1].links -%}
              <li>
                <a href="{{ link.url }}" class="link">{{ link.title }}</a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
    {%- endfor -%}
  </div>

  <!-- Column 2 -->
  <div class="footer__column col-xs-12 col-md-6 col-lg-6">
    {%- for block in section.blocks -%}
      {%- if block.type == 'link_list' and forloop.index == 2 -%}
        <div class="footer-block footer-block--menu">
          {%- if block.settings.heading != blank -%}
            <h3 class="footer-block__heading">{{ block.settings.heading }}</h3>
          {%- else -%}
            <h3 class="footer-block__heading">{{ linklists[section.settings.menu_2].title }}</h3>
          {%- endif -%}
          <ul class="footer__menu">
            {%- for link in linklists[section.settings.menu_2].links -%}
              <li>
                <a href="{{ link.url }}" class="link">{{ link.title }}</a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
    {%- endfor -%}

    {%- if section.settings.show_social -%}
      <div class="footer-block footer-block--social">
        {%- render 'social-icons', class: 'footer__list-social' -%}
      </div>
    {%- endif -%}
  </div>
</div>

<!-- Bottom Section -->
<div class="footer__content-bottom col-12">
  <div class="footer__payment">
    <ul class="list-payment" role="list">
      {%- for type in shop.enabled_payment_types -%}
        <li>{{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}</li>
      {%- endfor -%}
    </ul>
  </div>
  <div class="footer__copyright">
    <small>&copy; {{ 'now' | date: '%Y' }}, {{ shop.name }}</small>
  </div>
</div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "Enable newsletter"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "label": "Newsletter heading",
      "default": "Subscribe to our newsletter"
    },
    {
      "type": "link_list",
      "id": "menu_1",
      "label": "Menu for column 1"
    },
    {
      "type": "link_list",
      "id": "menu_2",
      "label": "Menu for column 2"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "Show social icons"
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": "Menu"
    }
  ]
}
{% endschema %}



