<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">

{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{%- style -%}

  :root {
  --logo-black: url('{{ settings.logo_black | image_url: width: settings.logo_width }}');
  --logo-white: url('{{ settings.logo_white | image_url: width: settings.logo_width }}');
  --logo-width: {{ settings.logo_width }}px;
  }

  /* Adjust for larger screens (desktop) */
  @media screen and (max-width: 768px) {
    .svg-mobile {
      display: flex !important;;
    }
    .text-desktop {
      display: none !important;;
    }
  }
  @media (min-width: 768px) {
  /* Hide SVG on desktop */
  .svg-mobile {
    display: none !important;;
  }

  .text-desktop {
    display: flex !important;;
  }
}

 header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  /* Ensure higher specificity to override other styles */
  #cart-icon .desktop-cart-text {
    display: none; /* Default hidden for mobile */
  }
  #cart-icon .mobile-cart-icon {
    display: inline-block; /* Default visible for mobile */
  }

  @media (min-width: 768px) { /* Adjust the breakpoint if necessary */
    #cart-icon .desktop-cart-text {
      display: inline-block; /* Show for desktop */
    }
    #cart-icon .mobile-cart-icon {
      display: none; /* Hide for desktop */
    }
  }

  /* Transparent header for desktop only */
  .header-wrapper--transparent {
    background-color: transparent;
    position: absolute;
    z-index: 10;
    width: 100%;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* For mobile devices, disable transparency */
  @media screen and (max-width: 750px) {
    .header-wrapper--transparent {
      background-color: white !important; /* Always solid background for mobile */
      position: relative;
    }

    .header-wrapper--transparent .header__heading-link,
    .header-wrapper--transparent .header__icon {
      color: black; /* Ensure icons and text are visible */
    }
  }

  @media (prefers-color-scheme: light) {
  /* Scroll-activated header */
    .scrolled-past-header .header-wrapper--transparent {
      background-color: var(--menu-background-color);
    }
  }

  @media (prefers-color-scheme: dark) {
    .scrolled-past-header .header-wrapper--transparent {
    background-color: var(--menu-background-color); /* Wordt wit bij scrollen */
    }
  }

  /* Standard transparant header */
  .section-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease, width 0.3s ease;
    }

    .section-header.transparent {
        background-color: transparent;
        color: white;
    }

    .section-header.scrolled-past-header {
        background-color: white;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        transform: translateY(0);
    }

    .section-header.hidden {
        transform: translateY(-100%);
        opacity: 0;
    }

    .section-header.reduce-logo .header__heading-logo-wrapper {
        width: 75%;
    }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<sticky-header
  data-sticky-type="{{ section.settings.sticky_header_type }}"
  data-theme-mode="{{ section.settings.header_theme_mode }}"
  class="header-wrapper color-{{ section.settings.color_scheme }} gradient container-desktop
  {% if template == 'index' and section.settings.header_theme_mode == 'transparent' %}
    header-wrapper--transparent
  {% elsif section.settings.show_line_separator %}
  {% endif %}">
   <!-- Current Page Type: {{ request.page_type }} -->
  {%- liquid
    assign social_links = false
    assign localization_forms = false

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
      assign social_links = true
    endif

    if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
      assign localization_forms = true
    endif
  -%}
  <header class="header header--middle-center {% if section.settings.menu != blank %} header--has-menu{% endif %}{% if social_links %} header--has-social{% endif %}">
  {%- liquid
        if section.settings.menu != blank
          render 'header-drawer'
        endif

        if section.settings.logo_position == 'top-center' or section.settings.menu == blank
          render 'header-search', input_id: 'Search-In-Modal-1'
        endif
      -%}


  {%- liquid
      if section.settings.menu != blank
        if section.settings.menu_type_desktop == 'dropdown'
          render 'header-dropdown-menu'
        elsif section.settings.menu_type_desktop != 'drawer'
          render 'header-mega-menu'
        endif
      endif
    %}

        <h1 class="header__heading">
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            <div class="header__heading-logo-wrapper">
            </div>
          </a>
        </h1>

    <div class="header__icons">

      <!-- Search -->
      <div class="header__icon__search">
        {% render 'header-search', input_id: 'Search-In-Modal' %}
      </div>

    <!-- Cart -->
    <div class="header__icon__cart"> 
      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset header__cart" id="cart-icon">
        <span class="desktop-cart-text">
          <span class="cart-text cart-color {{ template }}-page">
            {{ 'cart' | t }}{% if cart.item_count > 0 %} ({{ cart.item_count }}){% endif %}
          </span>
        </span>
        <span class="mobile-cart-icon">
          <span class="svg-wrapper">
            {% if cart == empty %}
              {{ 'icon-cart-empty.svg' | inline_asset_content }}
            {% else %}
              {{ 'icon-cart.svg' | inline_asset_content }}
            {% endif %}
          </span>
          <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>

          {% if cart != empty %}
            <div class="cart-count-bubble">
              {% if cart.item_count < 100 %}
                <span aria-hidden="true">{{ cart.item_count }}</span>
              {% endif %}
              <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
            </div>
          {% endif %}
        </span>
      </a>
    </div>

    </div>

  </header>
</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}

<script>
  const selector = ".elixon-fits-in";
  var watchList = Array.from(document.querySelectorAll(selector))
      .map((el) => el.parentNode);

  const resize = function (watchEl) {
      watchEl.querySelectorAll(':scope > ' + selector)
          .forEach(function (el) {
              const parentWidth = el.parentNode.clientWidth;
              const elWidth = el.clientWidth;

              if (elWidth > 0) { // Zorg ervoor dat elWidth geldig is
                  let scale = parentWidth / elWidth;

                  el.style.setProperty("--efiScale", scale);
                  el.style.setProperty("--efiHeightDiff", el.clientHeight * (scale - 1) + "px");
              } else {
                  console.warn("Element width is 0, skipping resize", el);
              }
          });
  };

  const observer = new ResizeObserver(function (entries) {
      for (let entry of entries) {
          resize(entry.target);
      }
  });

  watchList.forEach(function (el) {
      if (el) {
          resize(el);
          observer.observe(el);
      } else {
          console.warn("Parent element not found for a watched item");
      }
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    console.debug('StickyHeader script geladen');

    const header = document.querySelector('.section-header');
    if (!header) {
      console.warn('Header-element niet gevonden!');
      return;
    }

    const stickyType = header.getAttribute('data-sticky-type') || 'always';
    const themeMode = header.getAttribute('data-theme-mode') || 'light';
    let currentScrollTop = 0;

    const setHeaderHeight = () => {
      console.debug('Instellen header height:', header.offsetHeight);
      document.documentElement.style.setProperty('--header-height', `${header.offsetHeight}px`);
    };

    const updateHeaderTheme = () => {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      console.debug('Updating header theme:', { scrollTop, themeMode });

      if (scrollTop === 0) {
        if (themeMode === 'transparent') {
          console.debug('Header is transparent');
          header.classList.add('transparent');
          header.classList.remove('scrolled-past-header');
        } else {
          console.debug('Header is not transparent');
          header.classList.remove('transparent');
        }
      }
    };

    const getDeviceThemeMode = () => {
      const isDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
      console.debug('Device theme mode detected:', isDarkMode ? 'dark' : 'light');
      return isDarkMode ? 'dark' : 'light';
    };

    const onScroll = () => {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      const linkElement = document.querySelector('.header--middle-center a.header__heading-link');
      const menuItems = document.querySelectorAll('.header__menu-item');
      const cartIcons = document.querySelectorAll('.cart-color');

      console.debug('Scroll event detected:', { scrollTop });

      if (!linkElement) {
        console.warn('Link element not found');
        return;
      }

      const isLargeScreen = window.matchMedia('(min-width: 990px)').matches;
      const isMobileScreen = window.matchMedia('(max-width: 749px)').matches;
      const isIndexPage = window.location.pathname === '/' || window.location.pathname === '/index.html';
      const deviceThemeMode = getDeviceThemeMode();

      console.debug('Screen details:', { isLargeScreen, isMobileScreen, isIndexPage });

      // Mobiele logica
      if (isMobileScreen) {
        if (!isIndexPage) {
          console.debug('Mobile: Not index page, setting logo color');
          linkElement.style.backgroundImage = deviceThemeMode === 'dark' ? 'var(--logo-white)' : 'var(--logo-black)';
          cartIcons.forEach(cartIcon => cartIcon.style.color = deviceThemeMode === 'dark' ? 'white' : 'black');
          menuItems.forEach(item => item.style.color = deviceThemeMode === 'dark' ? 'white' : 'black');
        } else {
          console.debug('Mobile: Index page, setting logo to white');
          linkElement.style.backgroundImage = 'var(--logo-white)';
          cartIcons.forEach(cartIcon => cartIcon.style.color = 'white');
          menuItems.forEach(item => item.style.color = 'white');
        }
        return;
      }

      // Desktop logica
      if (isLargeScreen) {
        if (stickyType === 'on-scroll-up') {
          if (scrollTop > currentScrollTop && scrollTop > 100) {
            console.debug('Desktop: Scrolling down, hiding header');
            header.classList.add('hidden');
          } else if (scrollTop < currentScrollTop) {
            console.debug('Desktop: Scrolling up, showing header');
            header.classList.remove('hidden');
            header.classList.add('scrolled-past-header');
          }
        } else if (stickyType === 'always') {
          console.debug('Desktop: Sticky type always, setting scrolled-past-header');
          header.classList.add('scrolled-past-header');
        }

        if (scrollTop === 0) {
          console.debug('Desktop: Scroll at top, updating theme');
          updateHeaderTheme();
          if (!isIndexPage) {
            console.debug('Desktop: Not index page, setting logo color');
            linkElement.style.backgroundImage = deviceThemeMode === 'dark' ? 'var(--logo-white)' : 'var(--logo-black)';
            cartIcons.forEach(cartIcon => cartIcon.style.color = deviceThemeMode === 'dark' ? 'white' : 'var(--menu-font-color)');
            menuItems.forEach(item => item.style.color = deviceThemeMode === 'dark' ? 'white' : 'var(--menu-font-color)');
          } else {
            console.debug('Desktop: Index page, setting logo to white');
            linkElement.style.backgroundImage = 'var(--logo-white)';
            cartIcons.forEach(cartIcon => cartIcon.style.color = 'white');
            menuItems.forEach(item => item.style.color = 'white');
          }
        }
      }

      currentScrollTop = scrollTop;
    };

    // Event Listeners
    window.addEventListener('resize', setHeaderHeight);
    window.addEventListener('scroll', onScroll);

    // Initial Setup
    setHeaderHeight();
    updateHeaderTheme();
  });
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Transparent Header (Only on Homepage)",
    },
    {
      "type": "select",
      "id": "header_theme_mode",
      "label": "Header Theme Mode",
      "default": "transparent",
      "options": [
        { "value": "transparent", "label": "Transparent" },
        { "value": "solid", "label": "Solid Color" },
        { "value": "system", "label": "Follow System Settings" }
      ]
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "label": "Sticky Header Behavior",
      "default": "on-scroll-up",
      "options": [
        { "value": "none", "label": "No Sticky" },
        { "value": "on-scroll-up", "label": "Show on Scroll Up" },
        { "value": "always", "label": "Always Sticky" }
      ]
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__7.content",
      "info": "t:sections.header.settings.header__7.info"
    },
    {
      "type": "checkbox",
      "id": "enable_customer_avatar",
      "default": true,
      "label": "t:sections.header.settings.enable_customer_avatar.label",
      "info": "t:sections.header.settings.enable_customer_avatar.info"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
