<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'header.css' | asset_url }}">

{%- style -%}
:root {
    --logo-light: url('{{ settings.logo_black | file_url | prepend: "https:" | replace: "files/files/", "files/" }}');
    --logo-dark: url('{{ settings.logo_white | file_url | prepend: "https:" | replace: "files/files/", "files/" }}');
}
{%- endstyle -%}

<script>
  var emptyCartIconUrl = "{{ 'icon-cart-empty.svg' | asset_url }}";
  var fullCartIconUrl = "{{ 'icon-cart.svg' | asset_url }}";
</script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slider-title.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'real-time-cart.js' | asset_url }}" defer="defer"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const hamburgerMenu = document.querySelector('.hamburger-menu');
    const mobileMenuOverlay = document.querySelector('.mobile-menu-overlay');
    const closeMenuButton = document.querySelector('.close-menu');
    const body = document.body; // Selecteer de body
  
    // Toon het menu-overlay bij klikken op de hamburger
    hamburgerMenu.addEventListener('click', function () {
      mobileMenuOverlay.classList.add('show');
      body.classList.add('no-scroll'); // Voorkom scrollen
    });
  
    // Verberg het menu-overlay bij klikken op de sluitknop
    closeMenuButton.addEventListener('click', function () {
      mobileMenuOverlay.classList.remove('show');
      body.classList.remove('no-scroll'); // Schakel scrollen weer in
    });
  
    // Sluit het menu als er buiten de menu-items wordt geklikt
    mobileMenuOverlay.addEventListener('click', function (e) {
      if (e.target === mobileMenuOverlay) {
        mobileMenuOverlay.classList.remove('show');
        body.classList.remove('no-scroll'); // Schakel scrollen weer in
      }
    });
  });   
</script>

{% if section.settings.sticky %}
    <script src="{{ 'dynamic-header-desktop.js' | asset_url }}" defer></script>
{% else %}
  <script>
    console.log('Sticky instelling is niet actief.');
  </script>
{% endif %}

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<sticky-header
  data-sticky-enabled="{{ section.settings.sticky }}"
  data-theme-mode="{{ section.settings.header_theme_mode }}"
  class="header-wrapper gradient {{ template }}-page">

  <header class="col-12 container-desktop ">
      <div class="new-header">
        <!-- Left: Dynamic Menu -->
        <div class="col-menu col-align-left menu-items first-menu">
          <nav class="navbar navbar-expand-lg d-none d-lg-block">
            {% if section.settings.menu != blank %}
              {% assign menu = linklists[section.settings.menu] %}
              <ul class="navbar-nav">
                {% for link in menu.links %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </nav>
          <nav class="col-menu col-align-left menu-items first-menu d-lg-none">
            <button class="hamburger-menu">
              {{- 'icon-hamburger.svg' | inline_asset_content -}}
            </button>
            {% if section.settings.menu != blank %}
              {% assign menu = linklists[section.settings.menu] %}
              <div class="mobile-menu-overlay">
                <ul class="mobile-menu">
                  {% for link in menu.links %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
                <button class="close-menu">X</button>
              </div>
            {% endif %}
          </nav>
        </div>        
  
        <!-- Center: Logo -->
        <div class="col-menu text-center">
          <a href="{{ routes.root_url }}">
              <div class="logo"></div>
          </a>
        </div>
  
        <!-- Right: Search and Cart -->
        <div class="col-menu text-second-menu">
          <ul class="search-cart">
          <!-- Search -->
          {% render 'header-search', input_id: 'Search-In-Modal' %}
          <!-- Cart -->
          <li class="cart d-inline-block ml-3">
            <!-- On Desktop -->
            <div class="d-none d-lg-block">
              <a href="{{ routes.cart_url }}" class="cart-link">
                {{ 'cart' | t }}{% if cart.item_count > 0 %} ({{ cart.item_count }}){% endif %}
              </a>
            </div>
            <!-- On Mobile -->
            <div class="d-lg-none">
              <a href="/cart" class="cart-link">
                  <div class="cart-icon">
                    {% if cart.item_count == 0 %}
                      {{ 'icon-cart-empty.svg' | inline_asset_content }}
                    {% else %}
                      {{ 'icon-cart.svg' | inline_asset_content }}
                    {% endif %}
                  </div>
              </a>
            </div>            
          </li>
        </ul>
        </div>
      </div>
  </header>
</sticky-header>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_light",
      "label": "Light Mode Logo",
      "info": "Upload the logo for light mode."
    },
    {
      "type": "image_picker",
      "id": "logo_dark",
      "label": "Dark Mode Logo",
      "info": "Upload the logo for dark mode."
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Select Menu",
      "info": "Choose a menu to display in the header."
    },
    {
      "type": "checkbox",
      "id": "sticky",
      "label": "Enable Sticky Header"
    }
  ]
}
{% endschema %}


