<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'header.css' | asset_url }}" media="print" onload="this.media='all'">

{%- style -%}
:root {
    --logo-light: url('{{ settings.logo_black | file_url | prepend: "https:" | replace: "files/files/", "files/" }}');
    --logo-dark: url('{{ settings.logo_white | file_url | prepend: "https:" | replace: "files/files/", "files/" }}');
}
{%- endstyle -%}


<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slider-title.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'dynamic-header-desktop.js' | asset_url }}" defer="defer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<sticky-header
  data-sticky-type="{{ section.settings.sticky_header_type }}"
  data-theme-mode="{{ section.settings.header_theme_mode }}"
  class="header-wrapper gradient {{ template }}-page">
  <header class="col-12 container-desktop ">
      <div class="new-header">
        <!-- Left: Dynamic Menu -->
        <div class="col-menu col-align-left menu-items first-menu">
          <nav class="navbar navbar-expand-lg d-none d-lg-block">
            {% if section.settings.menu != blank %}
              {% assign menu = linklists[section.settings.menu] %}
              <ul class="navbar-nav">
                {% for link in menu.links %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </nav>
          <!-- Mobile Menu -->
          <nav class="topnav navbar d-lg-none">
            {% if section.settings.menu != blank %}
              {% assign menu = linklists[section.settings.menu] %}
              <ul class="navbar-nav">
                {% for link in menu.links %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ link.url }}">
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </nav>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            {{ 'icon-hamburger.svg' | inline_asset_content }}
          </a>
        </div>
  
        <!-- Center: Logo -->
        <div class="col-menu text-center">
          <a href="{{ routes.root_url }}">
              <div class="logo"></div>
          </a>
        </div>
  
        <!-- Right: Search and Cart -->
        <div class="col-menu col-align-right text-second-menu">
          <!-- Search -->
          <div class="search d-inline-block">
            <!-- On Desktop -->
            <div class="d-none d-lg-block">
              {{ 'general.Search' | t }}
            </div>
            <!-- On Mobile -->
            <div class="d-lg-none">
              <a href="#" class="search-icon">
                <!-- Insert search icon SVG or image -->
                <span class="icon-search"></span>
              </a>
            </div>
          </div>
  
          <!-- Cart -->
          <div class="cart d-inline-block ml-3">
            <!-- On Desktop -->
            <div class="d-none d-lg-block">
              <a href="{{ routes.cart_url }}" class="cart-link">
                {{ 'cart' | t }}{% if cart.item_count > 0 %} ({{ cart.item_count }}){% endif %}
              </a>
            </div>
            <!-- On Mobile -->
            <div class="d-lg-none">
              <a href="{{ routes.cart_url }}" class="cart-icon position-relative">
                <!-- Insert cart icon SVG or image -->
                <span class="icon-cart"></span>
                {% if cart.item_count > 0 %}
                  <span class="badge badge-pill badge-primary position-absolute" style="top: -5px; right: -10px;">
                    {{ cart.item_count }}
                  </span>
                {% endif %}
              </a>
            </div>
          </div>
        </div>
      </div>
  </header>
</sticky-header>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_light",
      "label": "Light Mode Logo",
      "info": "Upload the logo for light mode."
    },
    {
      "type": "image_picker",
      "id": "logo_dark",
      "label": "Dark Mode Logo",
      "info": "Upload the logo for dark mode."
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Select Menu",
      "info": "Choose a menu to display in the header."
    }
  ]
}
{% endschema %}


