{{ 'popular-now.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "Popular Now",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Wat is trending"
    },
    {
      "type": "text",
      "id": "section_subtitle",
      "label": "Section Subtitle",
      "default": "Ontdek de populairste items van dit moment"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Afbeelding"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Afbeelding (Mobiel)"
        },        
        {
          "type": "text",
          "id": "title",
          "label": "Titel",
          "default": "Productnaam"
        },
        {
          "type": "text",
          "id": "subtitle_item",
          "label": "Subtitel",
          "default": "Lorem Ipsum"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        }
      ]
    }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "Popular now",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "image": "",
            "title": "Product 1",
            "url": "#"
          }
        },
        {
          "type": "item",
          "settings": {
            "image": "",
            "title": "Product 2",
            "subtitle_item": "Lorem Ipsum",
            "url": "#"
          }
        }
      ],
      "settings": {
        "section_title": "Popular Now",
        "section_subtitle": "Check out our trending items"
      }
    }
  ]
}
{% endschema %}

<section class="col-12 popular-now-section">
  <div class="text-left mb-4 title-block">
    <h2>{{ section.settings.section_title }}</h2>
    <p class="popular-subtitle">{{ section.settings.section_subtitle }}</p>
  </div>

  {% assign block_count = section.blocks | size %}
  {% if block_count > 0 %}
    <ul class="popular-block">
      {% for block in section.blocks %}
        {% assign image = block.settings.image %}
        {% assign image_mobile = block.settings.image_mobile %}
        {% assign title = block.settings.title %}
        {% assign subtitle = block.settings.subtitle_item %}
        {% assign url = block.settings.url %}
        {% if image and title and url %}
          <li>
            <a href="{{ url | escape }}" class="text-decoration-none">
              <div class="inspiration-card h-100 border-0">
                <!-- Logica om de afbeelding te kiezen op basis van de schermgrootte -->
                <picture>
                  {% if image_mobile %}
                    <source srcset="{{ image_mobile | file_url | replace: 'files/files', 'files' }}" media="(max-width: 768px)">
                  {% endif %}
                  <img src="{{ image | file_url | replace: 'files/files', 'files' }}" alt="{{ title | escape }}" class="card-img-top">
                </picture>                
                <div class="card-body text-left">
                  <h5 class="card-title">{{ title }}</h5>
                  <p class="card-subtitle">{{ subtitle }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</section>




  
  
