{{ 'about-us.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "About Us Grid",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Dynamic grid"
    },
    {
      "type": "number",
      "id": "columns_per_row",
      "label": "Columns per row",
      "default": 3
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Read More"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "URL"
    }
  ],
  "blocks": [
    {
      "type": "grid_item",
      "name": "Grid Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Titel"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Inhoud"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About Us"
    }
  ]
}
{% endschema %}

<section class="about-us-section">
    <div class="col-12 container-desktop my-4">
      <h2 class="text-about mb-4">{{ section.settings.section_title }}</h2>
      <div class="row">
        {% for block in section.blocks %}
          <div class="col-md-{{ 12 | divided_by: section.settings.columns_per_row }} mb-4 text-column-about">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">{{ block.settings.title }}</h5>
                <p class="card-text">{{ block.settings.content }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- Voeg de knop onder alle kolommen toe -->
      {% if section.settings.button_text != blank %}
        <div class="text-center mt-3">
          <a href="{{ section.settings.button_link }}" class="button-featured-product-custom about-us-button">
            {{ section.settings.button_text }}
          </a>
        </div>
      {% endif %}
    </div>
  </section>
  
  