{{ 'two-columns-overlay.css' | asset_url | stylesheet_tag }}

<div class="section container-fluid">
  <div class="row">
    {% for block in section.blocks %}
      <div class="col-md-6 col-md-6-no-padding">
        <div class="image-overlay-block">
          {% if block.settings.image != blank %}
            <div class="image-overlay-block__image" 
                 style="background-image: url({{ block.settings.image | img_url: 'master' }}); background-size: cover; background-position: center;">
              
             {% if block.settings.button_link != blank %}
                  <a href="{{ block.settings.button_link }}" class="button-two-blocks">{{ block.settings.button_text }}</a>
              {% endif %}
              
              <div class="image-overlay-block__content text-center">
                {% if block.settings.title != blank %}
                  <h3 class="image-overlay-block__title">{{ block.settings.title }}</h3>
                {% endif %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Two Grid Nav",
  "settings": [],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Learn More"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Two Grid Nav",
      "category": "Custom"
    }
  ]
}
{% endschema %}
