{{ 'two-columns-overlay.css' | asset_url | stylesheet_tag }}

<div class="section container-fluid section-padding section-padding">
  <div class="row">
    {% for block in section.blocks %}
      <div class="col-12 col-sm-6 col-md-6 col-md-6 col-md-6-no-padding">
        <div class="image-overlay-block">
          {% if block.settings.image != blank %}
            <div class="image-overlay-block__image" 
                 style="background-image: url({{ block.settings.image | img_url: 'master' }}); background-size: cover; background-position: center;">
            </div>
          {% endif %}

          <div class="image-overlay-block__content text-center">
            {% if block.settings.title != blank %}
              <h3 class="image-overlay-block__title">{{ block.settings.title }}</h3>
            {% endif %}
          </div>
        </div>
          {% if block.settings.subtitle != blank %}
            <p class="image-overlay-block__subtitle">
             <h3>{{ block.settings.subtitle }}</h3>
              <a href="{{ block.settings.link }}" class="underline">{{ block.settings.linktitle }}</a>
            </p>
          {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Two Grid Nav",
  "settings": [],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "linktitle",
          "label": "Shop now"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Two Grid Nav",
      "category": "Custom"
    }
  ]
}
{% endschema %}
